nav{
    height: 10vh;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.card-title{
    text-align: center;
}

.price p{
    display: flex;
    justify-content: space-around;
}

.card{
    padding-bottom: 30px;
}

.card a{
    text-align: center;
}